h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(245, 188, 32);
    
}
body {
    background-color: grey;
    
}

div{
    background-color: darkgray;
}

#header {
    padding: 10px;
    border: 2px solid black;
    width: auto;
    height: auto;
    text-align: center;
}

#container {
    height: auto;
    width: auto;
    background-color: rgb(206, 198, 84);
    border: 2px solid black;
    
}
#questOutput {
    background-color: white;
    border: 2px solid rgb(16, 107, 107);
    margin-left: 10px;
    width: fit-content;
    

}


#list{
    list-style-type: square;
    
    
}


